
/* This all shared site wide */

body{
	display: flex;
	flex-direction: column;
	grid-column-gap: 20px;
}

h1 {
	font-family: adobe-garamond-pro, serif;
	font-weight: 300;
	font-style: italic;
	color: #616161;
	font-size: 20pt;

}
h2 {
	font-family:brandon-grotesque, sans-serif;
	font-weight: 400;
	font size: 20pt;
	font-style: italic;
	color: #616161;
	/*text-align: center;*/
}
h3 { 
	font-family:brandon-grotesque, sans-serif;
	font-weight: 300;
	font-size: 16pt;	
	color: #616161;	
	
}
h4 {
	font-family:brandon-grotesque, sans-serif;
	font-weight: 300;
	font-size: 12pt;
	color: #616161;	
}
.logo {
	display: flex;
	justify-content: flex-start;
	font-weight: 500;
	font-size: 30pt;	

}

.nav-bar {
	display:flex;
	grid-area: "nav-bar";
	justify-content: flex-end;
	list-style-type: none;
	font-size: 16pt;
	font-family: brandon-grotesque, sans-serif;
	font-weight: 200;
}

#tab {
	padding-right: 18px;
	color: #616161;
	text-decoration: none;
}

#tab:hover,
#tab:active {
	font-weight: 400;
}

button {
	display: inline-block;
	color: #ffffff;
	font-weight: 400;
	background-color: #AF4448;
	padding: 52p 211p;
	text-align: center;
	font-size: 12pt;
	font-family: brandon-grotesque, sans-serif;
	border-radius: 3px;
	border-style: none;
	box-shadow: 4px 4px 8px 0 rgba(0,0,0,0.2);
}
button:active {
	background-color: #ffffff;
	color: #AF4448;
}
.subscribe-footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #F3CFD2;
	padding-top: 9px;
	padding-bottom: 9px;
	margin-top: 10px;
}

.footer {
display: flex;
list-style-type: none;

}

.bi {
	color: black;
	justify-content: flex-end;
	text-decoration: none;
	padding-right: 18px;
}
/*seperate out */
